<div> 
    <div class="page-title">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                    <h2>{{ 'cadastrarBuscaPreliminarComponent.titulo' | translate }}</h2>
            </div>
        </div>              
    </div>
    <div class="page-content">
        <div [formGroup]="form()">
            <div class="row">
                <div class="form-group col-sm-12 col-xs-12">
                    <label>{{'cadastrarBuscaPreliminarComponent.tituloHla' | translate}}</label>
                    <hla-component #hlaComponent></hla-component>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-5 col-xs-12">
                    <label for="txtNome">{{ 'cadastrarBuscaPreliminarComponent.nome' | translate }}</label>
                    <input class="form-control" id="txtNome" tabindex="4" formControlName="nome" maxlength="255" type="text" (blur)="setMensagemErroPorCampo('nome');">
                    <msg mensagem="{{ exibirMensagemErrorPorCampo('nome') }}"></msg>
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    <label for="txtDataNascimento">{{ 'cadastrarBuscaPreliminarComponent.dataNascimento' | translate }}</label>
                    <input [textMask]="{mask: data}" class="form-control" tabindex="1" formControlName="dataNascimento" id="txtDataNascimento" type="text" maxlength="11" placeholder="DD/MM/AAAA" (blur)="setMensagemErroPorCampo('dataNascimento');">                    
                    <msg mensagem="{{ exibirMensagemErrorPorCampo('dataNascimento') }}"></msg>
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                    <label for="ddlABO">{{ 'cadastrarBuscaPreliminarComponent.abo' | translate }}</label>
                    <select class="form-control" tabindex="2" id="ddlABO" formControlName="abo" (blur)="setMensagemErroPorCampo('abo');">
                        <option value=""></option> 
                        <option value="A-">A-</option> 
                        <option value="B-">B-</option>
                        <option value="AB-">AB-</option>
                        <option value="O-">O-</option>
                        <option value="A+">A+</option>
                        <option value="B+">B+</option>
                        <option value="AB+">AB+</option>
                        <option value="O+">O+</option>
                    </select>
                    <div class="clearfix"></div>
                    <msg mensagem="{{ exibirMensagemErrorPorCampo('abo') }}"></msg>
                </div>
                <div class="form-group col-sm-1 col-xs-6">
                    <label for="txtPeso">{{ 'cadastrarBuscaPreliminarComponent.peso' | translate }}</label>
                    <input currencyMask [options]="{ prefix: '', allowNegative : false, decimal: ',', precision: '1' }" class="form-control" tabindex="3" id="txtPeso" type="text" placeholder="" name="peso" (blur)="setMensagemErroPorCampo('peso')" formControlName="peso" maxlength="5">
                        <div *ngIf="exibirMensagemErrorPorCampo('peso') && form().get('peso').touched">
                            <msg mensagem="{{ exibirMensagemErrorPorCampo('peso') }}"></msg>
                        </div>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="buscarMatchs()">
                        {{'botao.buscar' | translate}}
                    </button>
                    <label style="font-size: 10px" class="clicavel" (click)="simularNoMatchs()">Simular match não encontrado</label>
                </div>
            </div>
        </div>
    </div>
</div>