<div class="container conteudo" >
<div class="page-title">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h2>{{'laboratorioReceberColeta.titulo' | translate}}</h2>
            </div>
        </div>
</div>
    <div class="page-content">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h3>{{'laboratorioReceberColeta.subtitulo.receber' | translate}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 wrap-table">    
                <table class="table">
                    <thead>
                        <tr>
                            <td class="col-sm-2">{{'laboratorioReceberColeta.rmr' | translate}}</td>
                            <td class="col-sm-4">{{'laboratorioReceberColeta.iniciais' | translate}}</td>
                            <td class="col-sm-2">{{'laboratorioReceberColeta.tipoAmostra' | translate}}</td>
                            <td class="col-sm-6">&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody class="clicavel" *ngFor="let tarefa of paginacaoTarefasRecebimentoExame?.content; index as i" >
                        <tr>
                            <td class="col-sm-2" (click)="abrirModalRecebimento(tarefa, tarefa?.objetoRelacaoEntidade)">{{tarefa?.objetoRelacaoEntidade?.solicitacao?.paciente?.rmr}}</td>
                            <td class="col-sm-4" (click)="abrirModalRecebimento(tarefa, tarefa?.objetoRelacaoEntidade)">{{tarefa?.objetoRelacaoEntidade?.solicitacao?.paciente?.nomeAbreviado}}</td>
                            <td class="col-sm-2" (click)="abrirModalRecebimento(tarefa, tarefa?.objetoRelacaoEntidade)">{{tarefa?.objetoRelacaoEntidade?.tipoExame?.descricao}}</td>
                            <td class="col-sm-6">
                                <a id="" type="button" class="btn btn-setting btn-primary btn-sm floatR" (click)="abrirModalRecebimento(tarefa, tarefa?.objetoRelacaoEntidade)" ><i class="icon icon-calendario"></i> {{'botao.receber' | translate}}</a>
                                <a id="" type="button" class="btn btn-setting btn-primary btn-sm floatR" (click)="baixarRelatorioPedidoCt(tarefa?.objetoRelacaoEntidade?.id)" ><i class="icon icon-download"></i> {{'botao.baixarPedido' | translate}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Paginação e quantidade de registros -->
        <div class="row paginaConsultaPaciente" *ngIf="paginacaoTarefasRecebimentoExame?.totalElements && paginacaoTarefasRecebimentoExame?.totalElements != 0">
            <div class="col-sm-12 col-xs-12">
                <pagination [totalItems]="paginacaoTarefasRecebimentoExame?.totalElements" [ngModel]="paginacaoTarefasRecebimentoExame?.number" [maxSize]="5" 
                        class="pagination-sm pagination-wrap" [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="paginacaoTarefasRecebimentoExame?.quantidadeRegistro"
                        (pageChanged)="mudarPaginaRecebimentoExame($event)" 
                        firstText="{{'paginacao.primeiro' | translate}}"
                        previousText="<span class='icon-seta-esquerda'></span>"
                        nextText="<span class='icon-seta-direita'></span>"
                        lastText="{{'paginacao.ultimo' | translate}}">
                </pagination>
            </div>
            <div class="col-sm-12 col-xs-12 pull-right">
                <div class="form-group porpagina">
                    <label>Por Página:</label>
                    <select class="form-control" [(ngModel)]="qtdRegistroTarefas" (change)="selecionaQuantidadeRecebimentoExamePorPagina($event)" >
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h3>Cadastrar Resultado</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 wrap-table">    
                <table class="table">
                    <thead>
                        <tr>
                            <td class="col-sm-2">{{'laboratorioReceberColeta.rmr' | translate}}</td>
                            <td class="col-sm-4">{{'laboratorioReceberColeta.iniciais' | translate}}</td>
                            <td class="col-sm-2">{{'laboratorioReceberColeta.tipoAmostra' | translate}}</td>
                            <td class="col-sm-6">&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody class="clicavel" *ngFor="let tarefa of paginacaoTarefasCadastroResultado?.content; index as i" >
                        <tr>
                            <td class="col-sm-2" (click)="abrirCadastroExame(tarefa, tarefa?.objetoRelacaoEntidade)">{{tarefa?.objetoRelacaoEntidade?.solicitacao?.paciente?.rmr}}</td>
                            <td class="col-sm-4" (click)="abrirCadastroExame(tarefa, tarefa?.objetoRelacaoEntidade)">{{tarefa?.objetoRelacaoEntidade?.solicitacao?.paciente?.nomeAbreviado}}</td>
                            <td class="col-sm-2" (click)="abrirCadastroExame(tarefa, tarefa?.objetoRelacaoEntidade)">{{tarefa?.objetoRelacaoEntidade?.tipoExame?.descricao}}</td>                            
                            <td class="col-sm-6">
                                <a id="" type="button" class="btn btn-setting btn-primary btn-sm floatR" (click)="abrirCadastroExame(tarefa, tarefa?.objetoRelacaoEntidade)" ><i class="icon icon-cadastrar-workup"></i> {{'botao.cadastrarResultado' | translate}}</a>
                                <a id="" type="button" class="btn btn-setting btn-primary btn-sm floatR" (click)="baixarRelatorioPedidoCt(tarefa?.objetoRelacaoEntidade?.id)" ><i class="icon icon-download"></i> {{'botao.baixarPedido' | translate}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Paginação e quantidade de registros -->
        <div class="row paginaConsultaPaciente" *ngIf="paginacaoTarefasCadastroResultado?.totalElements && paginacaoTarefasCadastroResultado?.totalElements != 0">
            <div class="col-sm-12 col-xs-12">
                <pagination [totalItems]="paginacaoTarefasCadastroResultado?.totalElements" [ngModel]="paginacaoTarefasCadastroResultado?.number" [maxSize]="5" 
                        class="pagination-sm pagination-wrap" [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="paginacaoTarefasRecebimentoExame?.quantidadeRegistro"
                        (pageChanged)="mudarPaginaCadastroExame($event)" 
                        firstText="{{'paginacao.primeiro' | translate}}"
                        previousText="<span class='icon-seta-esquerda'></span>"
                        nextText="<span class='icon-seta-direita'></span>"
                        lastText="{{'paginacao.ultimo' | translate}}">
                </pagination>
            </div>
            <div class="col-sm-12 col-xs-12 pull-right">
                <div class="form-group porpagina">
                    <label>Por Página:</label>
                    <select class="form-control" [(ngModel)]="qtdRegistroTarefas" (change)="selecionaQuantidadeCadastroExamePorPagina($event)" >
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
    <modal mensagem="" #modalMsg ></modal>
