<div class="container conteudo">
   <div class="page-title">
      <div class="row">
         <div class="col-xs-12 col-sm-12">
            <h2>{{titulo}}</h2> 
         </div>
      </div>
      <div class="row">
         <header-paciente #headerPaciente></header-paciente>
      </div>
      <div class="row menu-btn">
         <div class="col-sm-12 col-xs-12">
            <a id="idVoltaConsulta" type="button" class="btn btn-setting btn-default" retornarPaginaAnterior>
               <span class="icon-seta-esquerda"></span> {{'botao.voltar' | translate}}</a>
         </div>
      </div>
   </div>
   <div class="page-content">
      <detalhe-prescricao-medula [showDescarteEAprovacao]="false" *ngIf="isMedula()"></detalhe-prescricao-medula>
      <detalhe-prescricao-cordao *ngIf="isCordao()"></detalhe-prescricao-cordao>
   </div>

</div>
