<div class="page-title">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h2>{{'consultaNotificacoes.titulo' | translate}}</h2>
        </div>
    </div>
    <div class="row" [hidden]="_deveEsconderHeaderPaciente">
        <header-paciente #headerPaciente></header-paciente>
    </div>
    <div class="row menu-btn">
        <div class="col-sm-12 col-xs-12">
            <a *ngIf="deveExibirBotaoVoltar()" class="btn btn-setting btn-default" id="" type="button" retornarPaginaAnterior><span class="icon-seta-esquerda"></span> {{'botao.voltar' | translate}}</a>
        </div>
    </div>
    
</div>

<div class="page-content">
    <div class="row" [hidden]="deveExibirComboCentros()" >
        <div class="col-sm-4 col-sm-offset-8 col-xs-12">
            <select-centros-component #selectCentros
                [showMeusPacientesOption]="true"
                (change)="mudarCentroTransplante(selectCentros.value)"
            ></select-centros-component>
        </div>
    </div>
    <div class="row dadosGeraisEvolucao">
        <div class="col-sm-12 col-xs-12 wrap-table">
            <table id="tabelaPendencias" class="table tableControlePendencias">
                <thead>
                    <tr>
                        <th *ngIf="_deveExibirColunaRmr" >{{'tabela.notificacao.rmr' | translate}}</th>
                        <th>{{'tabela.notificacao.nome' | translate}}</th>
                        <th>{{'tabela.notificacao.agingNotificacao' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="visualizaPendencia{{ notificacaoLida(notificacao) ? '' : '-naoLida' }}" 
                            *ngFor="let notificacao of paginacao.content; index as i" 
                            (click)="visualizarNotificacao(notificacao)">
                        <td *ngIf="_deveExibirColunaRmr">{{ notificacao.rmr  }}</td>
                        <td>{{ retornarApenasUmaLinha(notificacao.descricao) }} </td>
                        <td>{{ notificacao.aging  }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row paginaConsultaPaciente" *ngIf="paginacao.totalElements && paginacao.totalElements != 0">
        <div class="col-sm-12 col-xs-12">
            <pagination [totalItems]="paginacao.totalElements" [ngModel]="paginacao.number" [maxSize]="5" 
                    class="pagination-sm pagination-wrap" [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="paginacao.quantidadeRegistro"
                    (pageChanged)="mudarPagina($event)" 
                    firstText="{{'paginacao.primeiro' | translate}}"
                    previousText="<span class='icon-seta-esquerda'></span>"
                    nextText="<span class='icon-seta-direita'></span>"
                    lastText="{{'paginacao.ultimo' | translate}}"
                    >
            </pagination>
        </div>
        <div class="col-sm-12 col-xs-12 pull-right">
            <div class="form-group porpagina">
                <label>Por Página:</label>
                <select class="form-control" [(ngModel)]="quantidadeRegistro" (change)="selecinaQuantidadePorPagina($event)" >
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
    </div>
</div>
    