<div class="page-title">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h2>{{'novabusca.avaliacao.titulo' | translate}}</h2>
        </div>
    </div>
    <div class="row">
        <header-paciente></header-paciente>
    </div>
    <auto-collapsed-menu>
        <menu-item>
            <a type="button" class="btn btn-setting btn-default" retornarPaginaAnterior>
                <span class="icon-seta-esquerda"></span> {{'botao.voltar' | translate}}
            </a>
        </menu-item>
        <menu-item>
            <a type="button" class="btn btn-setting btn-primary" 
                [routerLink]="['/pacientes/' + rmr + '/evolucoes']">
                <span class="icon-evolucao"></span> {{'botao.evolucoes' | translate}}
            </a>
        </menu-item>
    </auto-collapsed-menu>
</div>
<div class="page-content">

    <div class="row">
        <div class="col-sm-12 col-xs-12 text-center btn-avaliaBusca">
            <span>
                <a type="button" class="btn btn-default btn-lg" (click)="abrirModalReprovacao()" >
                    <span class="glyphicon glyphicon-remove"></span> {{'botao.reprovar' | translate}}
                </a>
            </span>
            <span>
                <a type="button" class="btn btn-primary btn-lg" (click)="aprovar()">
                    <span class="glyphicon glyphicon-ok"></span> {{'botao.aprovar' | translate}}
                </a>
            </span>
        </div>
    </div>
    <br>
    <visualizar-diagnostico #diagnosticoComponent [rmr]="rmr" somenteLeitura="true"></visualizar-diagnostico>
    <visualizar-evolucao #evolucaoComponent [rmr]="rmr" somenteLeitura="true"></visualizar-evolucao>

</div>
