<div class="container conteudo">
    <div class="page-title">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h2>{{'novabusca.avaliacao.titulo' | translate}}</h2>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-sm-12 col-xs-12 wrap-table">
                <table class="table">
                    <thead>
                        <tr>
                            <td class="col-sm-1">{{'tarefas.rmr' | translate}}</td>
                            <td class="col-sm-2">{{'tarefas.nomePaciente' | translate}}</td>
                            <td class="col-sm-1">{{'tarefas.aging' | translate}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="clicavel" *ngFor="let tarefa of paginacao.content" (click)="abrirDetalhe(tarefa?.objetoRelacaoEntidade)">
                            <td>{{tarefa?.objetoRelacaoEntidade?.paciente?.rmr}}</td>
                            <td>{{tarefa?.objetoRelacaoEntidade?.paciente?.nome}}</td>
                            <td>{{tarefa?.aging}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Paginação e quantidade de registros -->
        <div class="row" *ngIf="paginacao.hasContent">
            <div class="col-sm-12 col-xs-12">
                <pagination [totalItems]="paginacao.totalElements" 
                        [ngModel]="paginacao.number" [maxSize]="5" 
                        class="pagination-sm pagination-wrap" [boundaryLinks]="true" 
                        [rotate]="false" [itemsPerPage]="paginacao.quantidadeRegistro"
                        (pageChanged)="mudarPagina($event)" 
                        firstText="{{'paginacao.primeiro' | translate}}"
                        previousText="<span class='icon-seta-esquerda'></span>"
                        nextText="<span class='icon-seta-direita'></span>"
                        lastText="{{'paginacao.ultimo' | translate}}">
                </pagination>
            </div>
            <div class="col-sm-12 col-xs-12 pull-right">
                <div class="form-group porpagina">
                    <label>{{'paginacao.porPagina' | translate}}</label>
                    <select class="form-control" [(ngModel)]="qtdRegistro" 
                        (change)="selecionarPorPagina($event)" >
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div> 
        </div>
    </div>

</div>