<modal mensagem="" #modalError></modal>

<div class="modal fade"  bsModal #modal="bs-modal" 
        [config]="{backdrop: 'static', keyboard: false}"
        tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog-confirmation modal-custom">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="fecharTela()">&times;</button>
            </div>
            <div class="modal-body">
                <ressalva #ressalvaComponente esconderLinkIncluirRessalva="true" 
                    esconderLinkExcluirRessalva="true" ></ressalva>          
            </div>
            
        </div>  
    </div>
</div>