<div class="container conteudo">
    <div class="page-title">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h2>{{'workup.coleta.avaliacao.titulo' | translate}}</h2>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-sm-12 col-xs-12 wrap-table">
                <table class="table">
                    <thead>
                        <tr>
                            <td class="col-sm-1">{{'workup.coleta.avaliacao.rmr' | translate}}</td>
                            <td class="col-sm-3">{{'workup.coleta.avaliacao.nome' | translate}}</td>
                            <td class="col-sm-3">{{'workup.coleta.avaliacao.doador' | translate}}</td>
                            <td class="col-sm-2">{{'workup.coleta.avaliacao.contdown' | translate}}</td>
                            <td class="col-sm-2">{{'workup.coleta.avaliacao.dataColeta' | translate}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="clicavel" *ngFor="let tarefa of paginacaoAvaliacoes.content; index as i" (click)="carregarAvaliacaoPedidoColeta(tarefa)"  >
                            <td>{{tarefa.rmr}}</td>
                            <td>{{tarefa.nomePaciente}}</td>
                            <td>{{tarefa.identificacaoDoador}}</td>
                            <td>{{tarefa.diasRestantes}}</td>
                            <td>{{tarefa.dataColeta | date: 'dd/MM/yyyy' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row paginaConsultaPaciente" *ngIf="paginacaoAvaliacoes.totalElements && paginacaoAvaliacoes.totalElements != 0">
            <div class="col-sm-12 col-xs-12">
                <pagination [totalItems]="paginacaoAvaliacoes.totalElements" [ngModel]="paginacaoAvaliacoes.number" [maxSize]="5" class="pagination-sm pagination-wrap"
                    [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="paginacaoAvaliacoes.quantidadeRegistro" (pageChanged)="mudarPaginaAvaliacoes($event)"
                    firstText="{{'paginacao.primeiro' | translate}}" previousText="<span class='icon-seta-esquerda'></span>"
                    nextText="<span class='icon-seta-direita'></span>" lastText="{{'paginacao.ultimo' | translate}}">
                </pagination>
            </div>
            <div class="col-sm-12 col-xs-12 pull-right">
                <div class="form-group porpagina">
                    <label>Por Página:</label>
                    <select class="form-control" [(ngModel)]="qtdRegistroAvaliacoes" (change)="selecionaQuantidadeAvaliacoesPorPagina($event)">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<modal mensagem="" #modalErro></modal>