<!-- Modal -->
<div class="modal fade"  bsModal #modal="bs-modal" [config]="{backdrop: 'static', keyboard: false}"
        tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-custom">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="fecharModalComponente()">&times;</button>
            </div>
            <div class="modal-body" *ngIf="mensagem">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <h3 class="text-center">{{ mensagem }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-12 modal-btn">
                        <button type="button" class="btn btn-primary btn-lg" *ngIf="exibirBotaoFechar" (click)="fecharModalComponente()">
                            <span class="glyphicon glyphicon-ok-circle"></span> OK
                        </button>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>