<div class="row">
    <div class="col-sm-12 col-xs-12">
        <h2>{{ 'transferencia.centro.avaliador.titulo' | translate }}</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <br>
        <label>{{'transferencia.centro.avaliador.atual.titulo' | translate}}:</label>      
        <p class="noMarginTop">{{ data?.centroAvaliador?.nome }}</p>
    </div>
</div>

<div class="row" >
    <div class="form-group col-sm-12 col-xs-12" [formGroup]="form()" >
        <select-component 
            label="{{'transferencia.centro.avaliador.disponiveis' | translate}}:" 
            formControlName="centroAvaliador" 
            [control]="form().controls['centroAvaliador']" 
            idd="txtCentroAvaliador"
            [options]="listaCentrosAvaliadores()"
            fieldOptionValue="id"
            fieldOptionText="nome"
            [showBlankOption]="true">
        </select-component>   
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-12  col-xs-12">
        <br />
        <button type="button" class="btn btn-default btn-lg floatL" (click)="fechar()">
            {{'botao.cancelar' | translate}}
        </button>
        <button type="button" class="btn btn-primary btn-lg floatR" (click)="transferir()">
            {{'botao.salvar' | translate}}
        </button>
    </div>
</div>
