<div class="container conteudo">
    <div class="page-title">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h2>{{'workup.consulta.titulo' | translate}}</h2>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h4 class="subTitulo">{{'workup.consulta.aseremrealizadas' | translate}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 wrap-table">
                <table class="table">
                    <thead>
                        <tr>
                            <td class="col-sm-1">{{'workup.consulta.tabela.rmr' | translate}}</td>
                            <td class="col-sm-4">{{'workup.consulta.tabela.centrotransplante' | translate}}</td>
                            <td class="col-sm-2">{{'workup.consulta.tabela.medico' | translate}}</td>
                            <td class="col-sm-1">{{'workup.consulta.tabela.fonte' | translate}}</td>
                            <td class="col-sm-1">{{'workup.consulta.tabela.identificacaodoador' | translate}}</td>
                            <td class="col-sm-2">{{'workup.consulta.tabela.dataprescricao' | translate}}</td>
                            <td class="col-sm-1">{{'workup.consulta.tabela.acao' | translate}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="clicavel" *ngFor="let workup of paginacaoTarefasWorkup.content; index as i" 
                            (click)="irParaAcaoSelecionada(workup)">
                            <td>{{workup?.rmr}}</td>
                            <td>{{workup?.nomeCentroTransplante}} </td>
                            <td>{{workup?.medicoResponsavelPrescricao}}</td>
                            <td>{{workup?.tipoPrescricao}}</td>
                            <td>{{workup?.identificacaoDoador}}</td>
                            <td>{{ formatarData(workup?.dataPrescricao) }}</td>
                            <td>{{workup?.acao}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Paginação e quantidade de registros -->
        <div class="row paginaConsultaPaciente" *ngIf="paginacaoTarefasWorkup.totalElements && paginacaoTarefasWorkup.totalElements != 0">
            <div class="col-sm-12 col-xs-12">
                <pagination [totalItems]="paginacaoTarefasWorkup.totalElements"
                            [ngModel]="paginacaoTarefasWorkup.number" [maxSize]="5"
                            class="pagination-sm pagination-wrap" [boundaryLinks]="true"
                            [rotate]="false" [itemsPerPage]="paginacaoTarefasWorkup.quantidadeRegistro"
                            (pageChanged)="mudarPaginaTarefasWorkupAtribuidas($event)"
                            firstText="{{'paginacao.primeiro' | translate}}"
                            previousText="<span class='icon-seta-esquerda'></span>"
                            nextText="<span class='icon-seta-direita'></span>"
                            lastText="{{'paginacao.ultimo' | translate}}">
                </pagination>
            </div>
            <div class="col-sm-12 col-xs-12 pull-right">
                <div class="form-group porpagina">
                    <label>Por Página:</label>
                    <select class="form-control" [(ngModel)]="qtdRegistroTarefasWorkup"
                        (change)="selecionaQuantidadeTarefasWorkupPorPagina($event)" >
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div> 
        </div>



        <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h4 class="subTitulo">{{'workup.consulta.aguardandoterceiros' | translate}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12 wrap-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <td class="col-sm-1">{{'workup.consulta.tabela.rmr' | translate}}</td>
                                <td class="col-sm-4">{{'workup.consulta.tabela.centrotransplante' | translate}}</td>
                                <td class="col-sm-2">{{'workup.consulta.tabela.medico' | translate}}</td>
                                <td class="col-sm-1">{{'workup.consulta.tabela.fonte' | translate}}</td>
                                <td class="col-sm-1">{{'workup.consulta.tabela.identificacaodoador' | translate}}</td>
                                <td class="col-sm-2">{{'workup.consulta.tabela.dataprescricao' | translate}}</td>
                                <td class="col-sm-1">{{'workup.consulta.tabela.aguardando' | translate}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="clicavel" *ngFor="let workup of paginacaoSolicitacoesWorkup.content; index as i">
                                <td>{{workup?.rmr}}</td>
                                <td>{{workup?.nomeCentroTransplante}} </td>
                                <td>{{workup?.medicoResponsavelPrescricao}}</td>
                                <td>{{workup?.tipoPrescricao}}</td>
                                <td>{{workup?.identificacaoDoador}}</td>
                                <td>{{ formatarData(workup?.dataPrescricao) }}</td>
                                <td>{{workup?.acao}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Paginação e quantidade de registros -->
            <div class="row paginaConsultaPaciente" *ngIf="paginacaoSolicitacoesWorkup.totalElements && paginacaoSolicitacoesWorkup.totalElements != 0">
                <div class="col-sm-12 col-xs-12">
                    <pagination [totalItems]="paginacaoSolicitacoesWorkup.totalElements"
                                [ngModel]="paginacaoSolicitacoesWorkup.number" [maxSize]="5"
                                class="pagination-sm pagination-wrap" [boundaryLinks]="true"
                                [rotate]="false" [itemsPerPage]="paginacaoSolicitacoesWorkup.quantidadeRegistro"
                                (pageChanged)="mudarPaginaSolicitacoesWorkup($event)"
                                firstText="{{'paginacao.primeiro' | translate}}"
                                previousText="<span class='icon-seta-esquerda'></span>"
                                nextText="<span class='icon-seta-direita'></span>"
                                lastText="{{'paginacao.ultimo' | translate}}">
                    </pagination>
                </div>
                <div class="col-sm-12 col-xs-12 pull-right">
                    <div class="form-group porpagina">
                        <label>Por Página:</label>
                        <select class="form-control" [(ngModel)]="qtdRegistroWorkupAtribuido" 
                            (change)="selecionaQuantidadeSolicitacoesWorkupsPorPagina($event)" >
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div> 
            </div>
    </div>
</div>