<div [formGroup]="form">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h2 class="text-center" >{{'avaliacao.resultadoworkup.nacional.modal.titulo' | translate}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12 form-group">
            <textarea-component
                label=""
                formControlName="descricao"
                [control]="form.controls['descricao']"
                idd="txtDescricao"
                placeholder="" rows="3" maxlength="500" >
            </textarea-component>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12 modal-btn">
            <button id="btnConfirmar" class="btn btn-lg btn-primary" (click)="confirmar()">{{'botao.confirmar' | translate}}</button>
        </div>
    </div>
</div>
