<div class="container conteudo" >
    <div class="page-title">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h2>{{'contatoPassivo.titulo' | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <header-doador #headerDoador></header-doador>
        </div>
        <div class="row menu-btn">
            <div class="col-sm-12 col-xs-12">
                <a id="idVoltaConsulta" type="button" class="btn btn-setting btn-default" (click)="voltarConsulta()">
                    <span class="icon-seta-esquerda"></span> {{'botao.voltar' | translate}}</a>
                <span>
                    <a id="" type="button" class="btn btn-setting btn-primary" (click)="abrirModalAlteracaoStatus()" *ngIf="deveExibirBotaoAlterarStatus()" >
                       <span class="glyphicon glyphicon-refresh"></span> {{'botao.alteracaostatus' | translate}}</a>
                </span>                
            </div>
        </div>
    </div>
    
</div>

<atualizar-doador  #doadorAtualizacaoComponent></atualizar-doador>
<alteracaostatus-modal recurso="CONTATO_PASSIVO"></alteracaostatus-modal>