<div class="row">
    <div class="col-sm-12 col-xs-12">
        <h2 class="text-center" *ngIf="data?.modo == 'distribuir'">{{ 'distribuicaoworkup.modal.titulo.distribuir' | translate }}</h2>
        <h2 class="text-center" *ngIf="data?.modo == 'redistribuir'">{{ 'distribuicaoworkup.modal.titulo.redistribuir' | translate }}</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 col-xs-12">
        <label>{{'distribuicaoworkup.tabela.rmr' | translate}}:</label>
        <p class="noMarginTop">{{data.distribuicao.rmr}}</p>
    </div>
    <div class="col-sm-6 col-xs-12">
        <label>{{'distribuicaoworkup.tabela.centrotransplante' | translate}}:</label>
        <p class="noMarginTop">{{data.distribuicao.nomeCentroTransplante}} </p>
    </div>
    <div class="col-sm-4 col-xs-12">
        <label>{{'distribuicaoworkup.tabela.medico' | translate}}:</label>
        <p class="noMarginTop">{{data.distribuicao.medicoResponsavelPrescricao}}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-xs-12">
        <label>{{'distribuicaoworkup.tabela.fonte' | translate}}:</label>
        <p class="noMarginTop">{{data.distribuicao.tipoPrescricao}}</p>
    </div>
    <div class="col-sm-3 col-xs-12">
        <label>{{'distribuicaoworkup.tabela.identificacaodoador' | translate}}:</label>
        <p class="noMarginTop">{{data.distribuicao.identificacaoDoador}}</p>
    </div>
    <div class="col-sm-3 col-xs-12">
        <label>{{'distribuicaoworkup.tabela.dataprescricao' | translate}}:</label>
        <p class="noMarginTop">{{formatarData(data.distribuicao.dataPrescricao) }}</p>
    </div>
    <div class="col-sm-4 col-xs-12">
        <label>{{'distribuicaoworkup.tabela.dataavaliacao' | translate}}:</label>
        <p class="noMarginTop">{{formatarData(data.distribuicao.dataAvaliacaoPrescricao) }}</p>
    </div>
</div>

<div class="row" >
    <div class="form-group col-sm-6 col-xs-12" [formGroup]="form()" >
        <select-component
                label="{{'distribuicaoworkup.modal.analistasworkup' | translate}}:"
                formControlName="usuario"
                [control]="form().controls['usuario']"
                idd="txtUsuarios"
                [options]="_listaUsuarios"
                fieldOptionValue="id"
                fieldOptionText="nome"
                [showBlankOption]="true">
        </select-component>
    </div>
</div>

<div class="row">
    <div class="form-group col-sm-12  col-xs-12">
        <br />
        <button type="button" class="btn btn-default btn-lg floatL" (click)="fechar()">
            {{'botao.cancelar' | translate}}
        </button>
        <button type="button" class="btn btn-primary btn-lg floatR" (click)="salvar()">
            {{'botao.salvar' | translate}}
        </button>
    </div>
</div>
