<div class="page-title">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h2>{{'transferencia.centro.consulta.titulo' | translate}}</h2>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="row" >
        <div class="col-sm-4 col-sm-offset-8 col-xs-12">
            <select-centros-component  #selectCentros 
                [(ngModel)]="_centroSelecionado" 
                [showTransplantadorOption]="false"
                (change)="executarConsulta()">
            </select-centros-component>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h3 class="subTitulo">{{'transferencia.centro.consulta.pendentes.titulo' | translate}}</h3>
        </div>
    </div>
    <div class="row avaliacoesPendentes">
        <div class="col-sm-12 col-xs-12 wrap-table">    
            <table class="table">
                <thead>
                    <tr>
                        <td>{{'transferencia.centro.consulta.rmr' | translate}}</td>
                        <td>{{'transferencia.centro.consulta.nome' | translate}}</td>
                        <td>{{'transferencia.centro.consulta.idade' | translate}}</td>
                        <td>{{'transferencia.centro.consulta.tempo' | translate}}</td>
                    </tr>
                </thead>
                <tbody class="clicavel" *ngFor="let tarefa of paginacaoTransferenciaCentroPendente.content; index as i" (click)="abrirDetalheTransferencia(tarefa)" >
                    <tr>
                        <td>{{tarefa.objetoRelacaoEntidade.paciente.rmr}}</td>
                        <td>{{tarefa.objetoRelacaoEntidade.paciente.nomeAbreviado}}</td>
                        <td>{{ calcularIdade(tarefa.objetoRelacaoEntidade.paciente.dataNascimento) }} {{'textosGenericos.anos' | translate}}</td>
                        <td>{{tarefa.aging}}</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <span class="icon-cid" [ngClass]="indicarSeContempladoEmPortaria(tarefa.objetoRelacaoEntidade.paciente.diagnostico.cid)"></span>  
                            {{ tarefa.objetoRelacaoEntidade.paciente.diagnostico.cid.descricaoFormatada }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Paginação e quantidade de registros -->
    <div class="row paginaConsultaPaciente" *ngIf="paginacaoTransferenciaCentroPendente.totalElements && paginacaoTransferenciaCentroPendente.totalElements != 0">
        <div class="col-sm-12 col-xs-12">
            <pagination [totalItems]="paginacaoTransferenciaCentroPendente.totalElements" [ngModel]="paginacaoTransferenciaCentroPendente.number" [maxSize]="5" 
                    class="pagination-sm pagination-wrap" [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="paginacaoTransferenciaCentroPendente.quantidadeRegistro"
                    (pageChanged)="mudarPaginaTransferenciasPendentes($event)" 
                    firstText="{{'paginacao.primeiro' | translate}}"
                    previousText="<span class='icon-seta-esquerda'></span>"
                    nextText="<span class='icon-seta-direita'></span>"
                    lastText="{{'paginacao.ultimo' | translate}}">
            </pagination>
        </div>
        <div class="col-sm-12 col-xs-12 pull-right">
            <div class="form-group porpagina">
                <label>Por Página:</label>
                <select class="form-control" [(ngModel)]="qtdRegistroTransferenciaCentroPendente" (change)="selecionaQuantidadeTransferenciasPendentesPorPagina($event)" >
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>
    </div>
</div>
