<div class="row wrap-bloco" >
   <div class="col-sm-2 col-xs-12">
      <h3>{{'prescricaoCordaoComponent.cordao.titulo' | translate}}</h3>
   </div>
   <div class="col-sm-10 col-xs-12 dados-bloco">
      <div>
         <p>
            <small>{{'prescricaoCordaoComponent.cordao.identificacao'| translate }}:</small>
            {{ cordaoDoador?.identificacao }}
         </p>
         <p>
            <small>{{ 'prescricaoCordaoComponent.cordao.bancoOrigem'| translate }}:</small>
            {{ cordaoDoador?.bancoOrigem }}
         </p>
         <p>            
            <small>{{'prescricaoCordaoComponent.cordao.abo'| translate }}:</small>            
            {{ cordaoDoador?.abo }}
            
            <small style="margin-left:  15px;">{{'prescricaoCordaoComponent.cordao.sexo'| translate }}:</small>            
            {{ (cordaoDoador?.sexo === 'F' ? 'sexo.feminino' : 'sexo.masculino') | translate }}
         </p> 
         <p>
            <small>
               <span style="display: block;float:  left; margin-right: 4px;">{{'prescricaoComponent.tcn'| translate }}</span>
               <span style="display: block;float: left;">{{ 'prescricaoComponent.x10'| translate }}</span>
               <span style="font-size: 9px;margin-top: -5px;display: block;float: left;margin-right: 4px;">{{ 'prescricaoComponent.8'| translate }}</span>
               <small>:</small>
            </small>
            {{ cordaoDoador?.quantidadeTotalTCN }}
         </p>
         <p>
            <small>
               <span style="display: block;float:  left;">{{ 'prescricaoComponent.tcn'| translate }}</span>
               <span style="display: block;float: left; margin-right:  4px;"> /{{ 'textosGenericos.kilograma'| translate }}</span>
               <span style="display: block;float:  left;">{{ 'prescricaoComponent.x10'| translate }} </span>
               <span style="font-size: 9px;margin-top: -5px;display: block;float:  left;margin-right: 4px;">{{ 'prescricaoComponent.8'| translate }}</span>
               <small>:</small>
            </small>
            {{ prescricaoCordao?.quantidadePorKgOpcao1 }}
         </p>
         <p>
            <small style="display: block;float:  left;margin-right:  4px;" >{{ 'prescricaoComponent.cd34'| translate }}</small>
            <small style="display: block;float: left;">{{ 'prescricaoComponent.x10'| translate }}</small>
            <small style="font-size: 9px;margin-top: -5px;display: block;float: left;margin-right: 4px;">{{ 'prescricaoComponent.8'| translate }}</small>
            <small>:</small>
            {{ cordaoDoador?.quantidadeTotalCD34 }}
         </p>
         <p>
            <small style="display: block;float:  left;">{{ 'prescricaoComponent.cd34'| translate }}</small>
            <small style="display: block;float:  left;margin-right:  4px;"> /{{ 'textosGenericos.kilograma'| translate }}</small>
            <small style="display: block;float: left;">{{ 'prescricaoComponent.x10'| translate }}</small>
            <small style="font-size: 9px;margin-top: -5px;display: block;float:left;margin-right: 4px;">{{ 'prescricaoComponent.8'| translate }}</small>
            <small>:</small>
            {{ prescricaoCordao?.quantidadePorKgOpcao2 }}
         </p>           
      </div>
   </div>
</div>

<div class="row wrap-bloco">
   <div class="col-sm-2 col-xs-12">
      <h3>{{'prescricaoCordaoComponent.endereco' | translate}} {{enderecoEntregaCP.id}}</h3>
   </div>
   <div class="col-sm-10 col-xs-12 dados-bloco">
      <endereco-contato esconderCampoCorrespondencia="true" esconderCampoPrincipal="true" [readOnly]="true" #enderecoEntregaCP></endereco-contato>
   </div>
</div>

<div class="row wrap-bloco">
   <div class="col-sm-2 col-xs-12">
      <h3>{{'prescricaoCordaoComponent.contato' | translate}}</h3>
   </div>
   <div class="col-sm-10 col-xs-12 dados-bloco">
      <p>
         <small>{{ 'prescricaoCordaoComponent.nomeContatoParaReceber'| translate }}:</small>
         {{ prescricaoCordao?.nomeContatoParaReceber }}
      </p>
   </div>
</div>
<div class="row wrap-bloco">
   <div class="col-sm-2 col-xs-12">
      <h3>{{'prescricaoCordaoComponent.contatoUrgencia'| translate }}</h3>
   </div>
   <div class="col-sm-10 col-xs-12 dados-bloco">
      <p>            
         <small>{{ 'prescricaoCordaoComponent.nomeContatoUrgente'| translate }}:</small>
         {{ prescricaoCordao?.nomeContatoUrgente }}
      </p>
      <p>            
         <small>{{ 'prescricaoCordaoComponent.telefoneUrgencia'| translate }}:</small>
         ({{ prescricaoCordao?.codigoAreaUrgente }}) {{ prescricaoCordao?.telefoneUrgente }}
      </p>
   </div>
</div>

<div class="row wrap-bloco">
   <div class="col-sm-2 col-xs-12">
      <h3>{{'prescricao.detalhe.data' | translate}}</h3>
   </div>
      <div class="col-sm-10 col-xs-12 dados-bloco">
         <p>
            <small>{{'prescricaoCordaoComponent.dataReceber1' | translate}}: </small>
            {{prescricaoCordao?.dataReceber1 | date:'dd/MM/yyyy'}}
         </p>
         <p>
            <small>{{'prescricaoCordaoComponent.dataReceber2' | translate}}: </small>
            {{prescricaoCordao?.dataReceber2 | date:'dd/MM/yyyy'}}
         </p>
         <p>
            <small>{{'prescricaoCordaoComponent.dataReceber3' | translate}}: </small>
            {{prescricaoCordao?.dataReceber3 | date:'dd/MM/yyyy'}}
         </p>
         <p>
            <small>{{'prescricaoCordaoComponent.dataInfusao' | translate}}: </small>
            {{prescricaoCordao?.dataInfusao | date:'dd/MM/yyyy'}}
         </p>
      </div>
   </div>
   <div class="row">
   <div class="col-sm-10 col-xs-12 dados-bloco">
      <p>
         <small>{{ 'prescricaoCordaoComponent.armazenaCordao'| translate }}</small>
         <span *ngIf="prescricaoCordao?.armazenaCordao" style="font-size: 16px;">{{ 'textosGenericos.sim' | translate}}</span>
         <span *ngIf="!prescricaoCordao?.armazenaCordao" style="font-size: 16px;">{{ 'textosGenericos.nao' | translate}}{{ 'prescricaoCordaoComponent.freezer' | translate}}</span> 
         
      </p>
   </div>
</div>
<div class="row wrap-bloco">
   <div class="col-sm-2 col-xs-12">
      <h3>{{'prescricao.detalhe.arquivos' | translate}}</h3>
   </div>
   <div class="col-sm-10 col-xs-12 dados-bloco">
      <div>
         <div class="listaLaudos" *ngFor="let arquivo of arquivosPrescricao; index as i">
            <a href="javascript:void(0)" (click)="baixarArquivo(arquivo)" title="{{'botao.download' | translate}}">
               <span>{{arquivo.nomeSemTimestamp}}</span>
               &nbsp;&nbsp;
               <span class="icon-download "></span>
            </a>
         </div>
         <p *ngIf="arquivosPrescricao && arquivosPrescricao.length == 0">
            <small> {{ 'mensagem.nenhumarquivoinformado' | translate }} </small>
         </p>
      </div>
   </div>
</div>      
<div class="row wrap-bloco">
   <div class="col-sm-2 col-xs-12">
      <h3>{{'prescricao.detalhe.justificativas' | translate}}</h3>
   </div>
   <div class="col-sm-10 col-xs-12 dados-bloco">
      <div>
         <div class="listaLaudos" *ngFor="let arquivo of arquivosJustificativa; index as i">
            <a href="javascript:void(0)" (click)="baixarArquivo(arquivo)" title="{{'botao.download' | translate}}" >
               <span>{{arquivo.nomeSemTimestamp}}</span>
               &nbsp;&nbsp;
               <span class="icon-download "></span>
            </a>
         </div>
         <p *ngIf="arquivosJustificativa && arquivosJustificativa.length == 0">
            <small> {{ 'mensagem.nenhumarquivoinformado' | translate }} </small>
         </p>
      </div>
   </div>
</div>      
